
src/libraries/plotly-latest.min.js
src/libraries/ui/bootstrap.min.css
src/libraries/ui/bootstrap.min.js
src/libraries/ui/fitty/fitty.min.js
src/libraries/ui/fitty/LICENSE
src/libraries/ui/jquery-3.4.1.min.js
src/libraries/ui/jquery-ui/jquery-ui.min.css
src/libraries/ui/jquery-ui/jquery-ui.min.js
src/libraries/ui/jquery-ui/jquery-ui.structure.min.css
src/libraries/ui/jquery-ui/jquery-ui.theme.min.css
src/libraries/ui/jquery-ui/LICENSE.txt
src/libraries/ui/jquery-ui/package.json
src/libraries/plotly.min.js
**/bootstrap/
*.bak
*.asta
