/*
 * CSS file for the application, all rules are reported
 * here  
 */

/* --------------------
 * Main elements' rules 
 * --------------------
 */

html {
	position: relative;
	min-height: 100%;
}
body {
	background-color: #eee;
	margin-bottom: 60px; /* To host the footer */
}
.loading {
	cursor: wait !important;
}

/* Rules for the main (includes centering) */
main {
	font-size: 20px !important;
	max-width: 1440px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

main > * {
	text-align: center;
}

/* Main's optional style */
.nostatwide {
	margin-top: 80px;
}
.statwide {
	margin-top: 126px;
}
.mainfullwidth {
	max-width: 100% !important;
}

/* -------------------
 * Fixed footer styles
 * -------------------
 */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #343a40;
	color: rgba(255, 255, 255, 0.5);
	text-align: left;
	padding-left: 10px;
}

/* ---------------------
 * Handling of the menus
 * ---------------------
 */

/* Gestione navbars: menu principale > menu statistico > tutto il resto */

/* Default properties */
nav { 
	margin-bottom: 0px !important;
}
.navcontainer {
	margin-bottom: 20px;
}
.navbar-dark {
	background-color: #343a40 !important;
}
.navbar-brand {
	color: rgba(255, 255, 255, .7) !important;
}
#nav1 {
	z-index: 5;
}
#nav2 {
	margin-top: 0px;
	z-index: 4;
}
#statmenu {
	display: none;
}
.li-stat {
	color: rgba(255, 255, 255, .6);
	margin: 5px 10px;
}
.menuyear {
	text-align: right;
	color: #000;
	width: 40px;
}

/* 
 * Rules to handle collapsing of the menus
 */

/* Rules for screens that show collapsed menus*/
@media (max-width: 991px){
	/* Shows the statistical menu's title*/
	#statmenu {
		display: block;
	}
	/* Centers the elements inside the statistical menu */
    #myNavbar2 {
		text-align: center !important;
	}
	/* Cancels the main's displacement due to floating elements */
	main {
		margin-top: 0px !important;
	}
}

/* Rules for screens big enough to show the normal menus */
@media (min-width: 992px){
	/* Moves the statistical menu under the main one */
	#nav2 {
		margin-top: 50px;
	}

	/* Resolves link targets overlapping with the navbar
	 * assuming that only non-statistical pages suffer of
	 * the problem
	 */
	:target::before {
		content: "";
		display: block;
		height: 56px; /* fixed header height*/
		margin: -56px 0 0; /* negative fixed header height */
	}

	/* 
	* Some elements from navbar-fixed-top, to
	* be activated only with a big enough screen;
	* they allow to make the menus fixed on top 
	*/
	.big-topfix {
		padding-right: 0;
		padding-left: 0;
	}
	.big-topfix {
		max-height: 340px
	}
	.big-topfix {
		position: fixed;
		right: 0; 
		left: 0; 
		z-index: 1030;
	}
	.big-topfix{
		border-radius:0
	}
	.big-topfix {
		top:0;
		border-width: 0 0 1px
	}
}

/* ---------------------------------
 * Color rules (reflect Bootstrap's)
 * ---------------------------------
 */

/* Colors for text */
.primarycolor {
	color: #007bff;
}
.secondarycolor {
	color: #404346;
}
.infocolor {
	color: #17a2b8;
}
.successcolor {
	color: #28a745;
}
.warningcolor {
	color: darkorange;
}
.dangercolor {
	color: #c82333;
}

/* Colors for backgrounds */
.primarybg {
	background-color: #007bff;
}
.infobg {
	background-color: #17a2b8;
}
.successbg {
	background-color: #0bfc03;
}
.warningbg {
	background-color: #ffc107;
}
.dangerbg {
	background-color: #dc3545;
}

/* -------------------
 * Table-related rules
 * -------------------
 */

/* Default for tables and columns */
table {
	table-layout: fixed !important;
	margin: 0 auto !important; 
}
.col {
	width: 110px;
	min-width: 110px;
	overflow-wrap: break-word;
}

/* Table element containing data */
.dat {
	height: 40px;
}
/* Squared dat element */
.squaredat {
	height: 110px;
}

/* Rules for scrolling tables */

/* External table container */
.tdiv {
	position: relative;
	margin:0 auto;
}
/* Internal table container */
/* By default takes into account
 * the footer height
 */
.inner {
	overflow-x: scroll;
	overflow-y: scroll;
	max-height: calc(100vh - 50px);
}
/* For big enough screen it takes into
 * account the presence of the statistical
 * menu
 */
@media(min-width: 991px) {
	main.nostatwide .inner {
		max-height: calc(100vh - 110px);
	}
	main.statwide .inner {
		max-height: calc(100vh - 166px);
	}
}
/* Reduced rules to scroll only on x */
.innerx {
	overflow-x: scroll;
}
/* Element that needs to stay on top of all */
.topleft {
	width: 110px;
	background-color: #f9f9f9;
	z-index: 3 !important;
}
/* First row of a table */
.topfix {
	position: sticky; 
	position: -webkit-sticky;
	top: 0;
	background-color: #f9f9f9;
	z-index: 2;
}
/* First column of a table */
.leftfix {
	position: sticky; 
	position: -webkit-sticky;
	left: 0;
	z-index: 2;
}

/* Table row colors and properties*/
.evenrow {
  	background-color: #eee;
}
.oddrow {
  	background-color: #f9f9f9;
}
.borderunder {
	border-bottom: 1px solid black;
}
.borderover {
	border-top: 1px solid black;
}
.borderleft {
	border-left: 1px solid black;
}

/* Rule for a class's new test column */
.testadd {
	width: max-content;
}

/* Special tables for student lists */
.studtable {
	max-width: 800px;
	min-width: 600px;
}

/* Table elements rules*/
td, th {
	vertical-align: middle !important;
	text-align: center;
}

/* Rules for the privilege column */
.privdiv {
	display: inline-block; 
	width: -webkit-calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: calc(100% - 25px);
}
.boxdiv {
	display: inline-block; 
	vertical-align: top;
}
.colorbox {
	width: 15px;
	height: 15px;
	display: inline-block;
	left: 5px;
	top: 5px;
}

/* --------------------------------------
 * Rules for graph overlay in correlation
 * -------------------------------------- 
 */
/* Container div, darkens the page */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
/* Canvas in the overlay */
.overcanvas {
	z-index: 4;
	width: 900px;
	max-width: 100vw; 
	height: 500px;
	max-height: 70vh;
}
/* Rules for a flex div */
.containerflex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Under the graph width, it is set to occupy the 
100% of the width in order to not overflow */
@media (max-width: 900px) {
	.overlay > .js-plotly-plot,
	.overlay > .plot-container { 
		width: 100vw;
	}
}

/* ------------------
 * Log-related styles 
 * ------------------
 */
.logtxt {
	width: 100%;
	height: 80vh;
}
.delbutton {
	display: inline-block;
	width: 80%;
}
.logcontainer {
	vertical-align: top;
	width: 70%;
	display: inline-block;
}
.loglist {
	padding-right: 5px;
	text-align: right;
	width: 20%;
	min-width: 130px;
	margin: auto;
	top: 0;
	display: inline-block;
	height: 80vh;
	overflow-y: scroll;
}
.logdiv {
	min-width: 150px;
	overflow-x: scroll;
}

/* -----------------------
 * Text pages and elements
 * -----------------------
 */
.nobul {
    list-style-type: none;
}
.bordermenu {
	border: 1px solid grey;
	max-width: 500px;
	padding: 10px;
}
.textwall {
	text-align: left;
	margin: auto;
	padding: 0 10px 30px 0;
	max-width: 90%;
	font-size: 18px;
}
.textwall h3 {
	margin-top: 15px;
}
.textwall h4 {
	margin-top: 15px;
	margin-bottom: 0px;
}
.textwall p {
	text-indent: 15px;
	margin-bottom: 0px;
}
.textwall ul:not(.nobul) {
	margin-bottom: 0px;
	margin-left: 10px;
}
.textwall a {
  	text-decoration: underline;
}
.section {
	margin-bottom: 50px;
}
.txt {
	width: 80%; 
	height: 120px;
	padding: 1px 2px;
	border-radius: 4px;
	overflow-y: scroll;
	resize: none;
}
.testcard {
	padding: 3px 10px;
	border-radius: 4px;
	margin-bottom: 15px;
}
.testrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.testrow > button {
	height: 40px;
	margin-left: auto;
}
.ulflexdiv {
	background-color: white;
	padding: 1px;
	align-self: center;
}
.nomargin {
	margin: 0px !important;
}

/* -----------
 * Input rules
 * -----------
 */

select {
	width: auto !important;
	display: inline-block !important
}
/* Rule for register values being modified */
.datmod {
	max-width: 70px;
	text-align: center;
}
.wrongvalue {
	background-color: red !important;
	color: white !important;
}
.inactivetext {
	color: #b0b0b0 !important;
}
.smalltext {
	width: 55px;
}
input:disabled {
	background-color: rgb(235, 235, 228); 
}
.form-control {
	font-size: 20px !important;
	height: auto !important;
	box-shadow: none !important;
}
input[type="text"], 
input[type="password"], 
input[type="number"] {
	border: 1px solid #BBB;
	border-radius: 4px;
	font-size: inherit !important;
}
.flexform {
	flex-direction: column;
}
.flexrow {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.flexrow > * {
	display: inline-flex;
	margin-right: 10px;
}
.studentcard {
	background-color: white;
	padding-right: 5px;
	padding-left: 35px;
}
.bigtextarea {
	padding: 10px;
	border-radius: 4px;
	width: 100%;
	height: 90vh;
	resize: none;
}

/* -------------------
 * Login-related rules
 * -------------------
 */
#login-dp{
    border: 1px solid #333;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: #343a40;
}
#login-dp .form-group, .top-bot-margin {
	margin-bottom: 10px;
  	margin-top: 10px;
}
#login-dp span {
  	color: #fff;
}
#login-dp .btn {
  	width: 100%;
}

/* ---------------------
 * General purpose rules
 * ---------------------
 */

/* Text alignment */
.textright {
  	text-align: right;
}
.textleft {
	text-align: left !important;
}
.textcenter {
  	text-align: center;
}

/* Removes shadow from elements */
.btn, .form-check-input, .navbar-toggler {
	box-shadow: none !important;
}

/* Button styles */
/* Class link style */
.btncl {
	margin-bottom: 10px;
	min-width: 65px; 
}
/* Wide button style */
.btnmenu {
	width: 125px; 
	max-width: 100%;
	margin-bottom: 5px;
}
.overpad {
	padding: 1px 6px !important;
}
.btn-warning {
	color: #444;
}

/* Options for elements' width */
.halfwidth {
  	width: 50%;
}
.thirdwidth {
	width: 30%;
}
.fullwidth {
	width: 100%;
	white-space: normal;
}

/* Special .hidden to have jQuery modify it */
.jQhidden {
  	display: none;
}

.marginunder {
	margin-bottom: 10px !important;
}

.point {
	cursor: pointer;
}

label {
	margin: 0 !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Specific to worpress-bound systems */
#turnkey-credit { 
	display: none; 
}
